<div class="login-page" style="width: 100%">
  <a routerLink="/"
    ><img src="assets/images/back.png" alt="" style="height: 70px; width: 70px"
  /></a>
  <div class="background">
    <div class="shape"></div>
    <div class="shape"></div>
  </div>
  <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
    <h3 style="color: #ffffff">Login Here</h3>

    <label for="username" style="color: #ffffff">Username</label>
    <input
      style="color: #ffffff"
      type="text"
      placeholder="Username"
      id="username"
      name="username"
      ngModel
      required
      #modelUsername="ngModel"
      [ngClass]="
        modelUsername.invalid && modelUsername.dirty ? 'is-invalid' : ''
      "
      [(ngModel)]="username"
    />
    <div
      *ngIf="modelUsername.invalid && modelUsername.dirty"
      class="invalid-feedback"
    >
      Username is required...
    </div>

    <label for="password" style="color: #ffffff">Password</label>
    <input
      style="color: #ffffff"
      type="password"
      placeholder="Password"
      id="password"
      name="password"
      ngModel
      required
      #modelPassword="ngModel"
      [ngClass]="
        modelPassword.invalid && modelPassword.dirty ? 'is-invalid' : ''
      "
      [(ngModel)]="password"
    />
    <div
      *ngIf="modelPassword.invalid && modelPassword.dirty"
      class="invalid-feedback"
    >
      Password is required...
    </div>

    <p class="error" [ngClass]="error.length > 0 ? 'visible' : 'invisible'">
      {{ error }}
    </p>

    <div class="d-flex align-items-center mt-2">
      <span style="color: #ffffff">Not registered?</span>
      <a routerLink="/register" class="text-primary text-decoration-none px-2"
        >Register here</a
      >
    </div>

    <button style="color: black">LOGIN</button>
  </form>
</div>
