<app-navbar />

<h3
  style="
    color: rgba(255, 0, 0, 0.897);
    letter-spacing: 2px;
    width: 100%;
    text-align: center;
    margin-top: 70px;
    font-weight: bold;
  "
>
  ANONYMOUS FEEDBACKS
</h3>

<div class="mt-4 mb-4" *ngFor="let feedback of feedback">
  <div class="d-flex">
    <img
      src="assets/images/userfeedback.png"
      height="70px"
      width="70px"
      alt=""
    />
    <h4 class="ms-3 feedback">User: {{ feedback.userFeedback }}</h4>
    <br />
    <h4 style="margin-top: 30px; color: blue">
      Admin: {{ feedback.adminReply }}
    </h4>
  </div>

  <div class="d-flex">
    <h5 class="date me-3">{{ feedback.feedbackDate }}</h5>
  </div>
</div>
