.navigation-container {
  margin-left: 3px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}

.navigateIcon {
  margin-top: 20px;
  color: var(--secondary-500);
  font-weight: bold;
}

.greaterThan {
  color: black;
  font-weight: bold;
}

.navigateIcon,
.greaterThan,
.content {
  margin: 0;
}

.feedback{
  color: rgb(105, 105, 105);
}

.date{
  font-size: smaller;
  margin-left: 90px;
}