<div *ngIf="!isLoggedIn">
  <router-outlet />
</div>

<div
  *ngIf="isLoggedIn && isAdmin"
  class="container-fluid vh-100 d-flex flex-column"
>
  <div *ngIf="isAdmin" class="row">
    <header class="navbar sticky-top bg-dark p-2 shadow">
      <a class="navbar-brand px-3 text-white" routerLink="/admin"
        ><img
          src="assets/images/logo.png"
          alt=""
          style="height: 60px; width: 100px"
      /></a>
      <div class="navbar-nav px-4 text-white" (click)="logout()" role="button">
        <i class="fa-solid fa-solid fa-right-from-bracket text-white"></i>
      </div>
    </header>
  </div>

  <div *ngIf="isAdmin" class="row flex-grow-1">
    <div class="sidebar border border-right col-2 p-0">
      <div class="bg-body-primary h-100" tabindex="-1">
        <div class="d-flex flex-column p-0 pt-3 overflow-y-auto">
          <ul class="nav flex-column">
            <li class="adminImage">
              <img
                class="adminImage1"
                src="https://www.einfosoft.com/templates/admin/spiceangular/source/light/assets/images/usrbig.jpg"
                alt=""
                height="70px"
                width="70px"
              />
              <p class="adminName">Emily Dia</p>
              <p class="adminRole">Manager</p>
            </li>
            <li
              class="nav-item d-flex align-items-center px-4 sideBarItem"
              [routerLink]="['admin']"
              routerLinkActive="sideBarActive"
              [routerLinkActiveOptions]="{ exact: true }"
            >
              <i class="fa-solid fa-house"></i>
              <a class="nav-link d-flex align-items-center" routerLink="/admin">
                Dashboard
              </a>
            </li>
            <li
              class="nav-item d-flex align-items-center px-4 sideBarItem"
              [routerLink]="['adminCategory']"
              routerLinkActive="sideBarActive"
            >
              <i class="fa-solid fa-layer-group"></i>
              <a
                class="nav-link d-flex align-items-center"
                routerLink="/adminCategory"
                >Category</a
              >
            </li>
            <li
              class="nav-item d-flex align-items-center px-4 sideBarItem"
              [routerLink]="['adminRoom']"
              routerLinkActive="sideBarActive"
            >
              <i class="fa-solid fa-door-open"></i>
              <a
                class="nav-link d-flex align-items-center"
                routerLink="/adminRoom"
                >Room</a
              >
            </li>
            <li
              class="nav-item d-flex align-items-center px-4 sideBarItem"
              [routerLink]="['adminUser']"
              routerLinkActive="sideBarActive"
            >
              <i class="fa-solid fa-user"></i>
              <a
                class="nav-link d-flex align-items-center"
                routerLink="/adminUser"
                >Users</a
              >
            </li>
            <li
              class="nav-item d-flex align-items-center px-4 sideBarItem"
              [routerLink]="['adminFeedback']"
              routerLinkActive="sideBarActive"
            >
              <i class="fa-solid fa-comment"></i>
              <a
                class="nav-link d-flex align-items-center"
                routerLink="/adminFeedback"
                >Feedback</a
              >
            </li>
          </ul>
        </div>
      </div>
    </div>
    <main class="col-10 px-4">
      <router-outlet></router-outlet>
    </main>
  </div>
</div>

<div *ngIf="isLoggedIn && !isAdmin">
  <router-outlet />
</div>

<div *ngIf="loaderService.isLoading | async" class="loader">
  <ng-lottie [options]="options"></ng-lottie>
</div>
