<!-- NAVBAR -->
<nav
  class="navbar navbar-expand-lg"
  style="height: 80px; width: 100%; z-index: 2; background-color: black"
>
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img
        src="assets/images/logo.png"
        alt="image"
        height="60px"
        width="100px"
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mb-2 mb-lg-0 mx-auto">
        <li class="nav-item me-5">
          <a
            class="nav-link active"
            aria-current="page"
            style="color: white; background: none; margin-left: -70px"
            routerLink="/"
            onmouseover="this.style.color='red'"
            onmouseout="this.style.color='white'"
            >HOME</a
          >
        </li>
        <!-- <li class="nav-item me-5">
          <a
            class="nav-link active"
            aria-current="page"
            style="color: white; background: none"
            routerLink="/about"
            onmouseover="this.style.color='red'"
            onmouseout="this.style.color='white'"
            >ABOUT</a
          >
        </li>
        <li class="nav-item me-5">
          <a
            class="nav-link active"
            aria-current="page"
            style="color: white; background: none"
            href="#"
            onmouseover="this.style.color='red'"
            onmouseout="this.style.color='white'"
            >GALLERY</a
          >
        </li>
        <li class="nav-item me-5">
          <a
            class="nav-link active"
            aria-current="page"
            style="color: white; background: none"
            href="#"
            onmouseover="this.style.color='red'"
            onmouseout="this.style.color='white'"
            >CONTACT</a
          >
        </li> -->
        <li class="nav-item me-5">
          <a
            class="nav-link active"
            aria-current="page"
            style="color: white; background: none"
            routerLink="/order"
            onmouseover="this.style.color='red'"
            onmouseout="this.style.color='white'"
            >BOOKINGS</a
          >
        </li>
        <li class="nav-item me-3">
          <a
            class="nav-link active"
            aria-current="page"
            style="color: white; background: none"
            routerLink="/feedback"
            onmouseover="this.style.color='red'"
            onmouseout="this.style.color='white'"
            >FEEDBACKS</a
          >
        </li>
      </ul>
      <div *ngIf="isLoggedIn">
        <a style="color: white"
          ><img
            src="assets/images/logout.png"
            (click)="logoutHandler()"
            alt=""
            style="height: 40px; width: 40px; cursor: pointer"
        /></a>
      </div>
      <div *ngIf="!isLoggedIn">
        <a routerLink="/login" style="color: white"
          ><img
            src="assets/images/login.png"
            alt=""
            style="height: 40px; width: 40px"
        /></a>
      </div>
    </div>
  </div>
</nav>
